@import "tailwindcss";

@theme {
  --color-primary: blue;
  --color-secondary: lightblue;
  --color-ternary: white;
  --font-family: Poppins;
  --font-weight-heavy: 900;
  --text-big: 3rem;
  --space: 1rem;
}
