:root {
    --back: black;
}

@property --front {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

#one {
    --back: blue;
    color: var(--front);
    background-color: var(--back);
}